In [4]:
import pandas as pd
import numpy as np

In [30]:
dataset=pd.read_csv('data_files for Simplilearn projects/pima-indians-diabetes.data',header=None)

In [34]:
dataset.columns=[['pregnant','glucose','BP','skin','insulin','BMI','pedigree','age','label']]

In [37]:
dataset.head()

  pregnant glucose  BP skin insulin   BMI pedigree age label
0        6     148  72   35       0  33.6    0.627  50     1
1        1      85  66   29       0  26.6    0.351  31     0
2        8     183  64    0       0  23.3    0.672  32     1
3        1      89  66   23      94  28.1    0.167  21     0
4        0     137  40   35     168  43.1    2.288  33     1

In [63]:
X_feature=dataset[['glucose','BP','insulin','BMI','age']]
y_target=dataset[['label']]

In [64]:
X_feature.head()

  glucose  BP insulin   BMI age
0     148  72       0  33.6  50
1      85  66       0  26.6  31
2     183  64       0  23.3  32
3      89  66      94  28.1  21
4     137  40     168  43.1  33

In [77]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
logreg=LogisticRegression()

In [86]:
X_train,X_test,y_train,y_test = train_test_split(X_feature,y_target,test_size=.3, random_state=25)
logreg.fit(X_train,y_train)

/Users/dev/opt/anaconda3/lib/python3.8/site-packages/sklearn/utils/validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

LogisticRegression()

In [87]:

y_pred=logreg.predict(X_test)

In [88]:
accuracy_score(y_test,y_pred)

0.7748917748917749

In [98]:
print ("actual values", y_test.values[0:30])

print ("predicted values", y_pred.values[0:30])

actual values [[0]
 [1]
 [0]
 [1]
 [0]
 [0]
 [1]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [1]
 [0]
 [1]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [1]
 [0]
 [0]
 [0]
 [1]
 [0]
 [1]]

AttributeError: 'numpy.ndarray' object has no attribute 'values'